.custom-grade {
    float: right;
    color: #f1af08 !important;
}

.title {
    font-weight:bold;
}

.color-premium {
    color: #42a5f5 !important;
}

#todo h5 {
    color: white;
}

input[type=checkbox]:checked + label {
    text-decoration: line-through;
}

