<section class="container" ng-controller="InstrutoresCtrl" ng-init="loadInstrutores()">
    
    <div class="card-panel  cyan darken-1">
        <h5 class="center-align">Sistema de vagas para instrutores de pilates</h5>
	</div>

    <ul class="collection z-depth-4" ng-repeat="item in instrutores">
        <li ng-class="item.premium == 'SIM' ? 'collection-item avatar color-premium' : 'collection-item avatar'">
            
            <img ng-if="item.foto != ''" src="{{ item.foto }}" alt="" class="circle">
            <i ng-if="item.foto == ''" class="material-icons circle">perm_identity</i>
            <br>
            <span class="title">{{ ShortNameOrEmpty(item.nome) }}</span>
            <p><strong>Email: </strong> {{ item.email }}</p>
            <p><strong>Cadastrado em {{ item.dtcadastro }}</strong></p>

            <span ng-if="item.premium == 'SIM'" class="secondary-content custom-grade">
                <i class="material-icons">grade</i>Instrutor Premium
            </span>
        </li>
    </ul>
</section>