<section id="todo" class="container" ng-controller="TodoCtrl">
     <div class="card-panel red darken-2">
        <h5 class="center-align">TODO LIST</h5>
	</div>
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s10">
                    <input id="new_task" ng-model="task_desc" type="text">
                    <label for="new_task">Nova tarefa</label>
                </div>
                <div class="input-field col s1">
                    <button class="btn waves-effect waves-light" type="button" ng-click="addTask(task_desc)" name="action">
                        <i class="material-icons right">thumb_up</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <ul class="collection with-header">
        <li class="collection-item" ng-repeat="item in lista | orderBy: 'concluido' track by $id($index)">
            <input ng-click="updateItem(item)" type="checkbox" class="filled-in" id="filled-in-box{{$index}}" 
               ng-model="item.concluido" ng-checked="{{ item.concluido }}" />
            <label for="filled-in-box{{$index}}">{{ item.desc }}</label>
            <a href="javascript:void(0)" class="secondary-content" ng-click="removeTask(item.indice)">
                <i class="material-icons">delete</i>
            </a>
        </li>
    </ul>
</section>